.square {
  border: 1px solid black;
  padding: 3px;
  margin: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}

.board-row {
  display: block;
  margin: 0;
}

.game {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 1px solid black;
  padding: 5px;
}

.game-board {

}

.game-info{
  margin-left: 20px;
}

li {
  list-style: none;
}

.status {
  margin-bottom: 20px;
}
